[Desktop Entry]
Type=Application
Name=KeePassXC
GenericName=Password Manager
Comment=Community-driven port of the Windows application KeePass Password Safe
Exec=keepassxc %f
TryExec=keepassxc
Icon=keepassxc
StartupWMClass=keepassxc
StartupNotify=true
Terminal=false
